html, body {
  margin: 0px;
  font-family: Asap;
  height: 100%;
  background: #0070AF;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 64px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-4{
  margin-left: 32px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-1 {
  flex: 1 1 0%;
}

.gap-1 {
  gap: 8px;
}

.p2{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1;

}

.page {
  width: 100vw;
  background: #0070AF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 25px;
  padding-left: 25px;
}

.header-language {
  color: #FFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #FFF;
  padding-right: 25px;
  padding-left: 25px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.footer-divider {
  width: 1px;
  height: 20px;
  margin-right: 20px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.50);
}

.footer-contact {
  text-align: end;
}

.footer-contact-number {
  font-size: 24px;
  line-height: 29px;
}

.footer-contact-text {
  font-size: 12px;
  line-height: 19px;
  font-style: italic;
}

.content {
  min-height: 300px;
  border-radius: 20px;
  background: #F2FBFE;
  padding: 30px 0px;
  position: relative;
}

.content p, .content a {
  color: #1B4961;
  font-weight: 400;
  font-size: 14px;
}


.content-inner {
  padding: 0px 60px; 
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: #05347A;
  text-align: center;
}

.content-title {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.login-form {
  padding-bottom: 32px;
  border-bottom: 1px solid #E3E3E3;
}

.create-user {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-bottom: 32px;
}

.input {
  border: 1px solid #E3E3E3;
  color: #A0A0A0;
  background: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.input input {
  padding: 0px;
  height: 72px;
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 15px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  width: 24px;
  height: 24px;
  padding-left: 15px;
  padding-right: 15px;
  border-right: 1px solid #E3E3E3;
}

.forgot-password {
  margin-right: 15px;
  font-size: 14px;
  color: #000000;
}

.button {
  border-radius: 16px;
  height: 68px;
  color: #FFFFFF;
}

.qr-button {
  background-color: #3FA7DF;
  display: none;
  padding: 0px 15px;
}

.login-button {
  text-align: center;
  background-color: #0069AA;
  font-size: 21px;
  font-weight: 600;
}

.notif-button {
  text-align: center;
  background-color: #3FA7DF;
  font-size: 21px;
  font-weight: 600;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 8px;
}

.progress-wrap {
  padding: 10px 0px;
  width: 100%;
  background-color: #F7F4C2;
  border-radius: 16px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.progress-bar {
  background-color: #FEE655;
  border-radius: 16px;
  width: 0%;
  transition: width 500ms ease;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.progress-text {
  margin: 0px 4px;
}

.progress-content {
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 720px) {
  .wrapper {
    max-width: 680px;
  }
  .qr-button {
    display: flex;
  }
}

@media screen and (min-width: 960px) {
  .page {
    height: 100vh;
    padding: 0;
  }

  .wrapper {
    max-width: 880px;
  }

  .two-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .has-divider::before {
    content: '';
    background: #46B1E5;
    width: 1px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 50%;
  }

  .create-user {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1140px) {
  .wrapper {
    max-width: 1110px;
  } 
}